*{
    margin:0;
}

html{
    height:100%;
}

body{
    height:100%;
    background-color:darkmagenta;
}

.wrapper-height{
    min-height:calc(100% - 34px);
    background-color:white;
    font-size:30px;
}

.wrapper-height p{
    padding-left:2em;
    padding-top:1em;
}

footer{
    /*extra styling to make footer visible*/
    background-color:darkmagenta;
    color:white;
    text-align:center;
    padding:5px;
}